{% extends "layout.html" %}

{% block title %} Snake {% endblock %}
{% block head %} 
    <script src="/static/js/snake.js"></script> 
{% endblock %}

{% block navbar_snake %} class="nav-bar-active" {% endblock %}

{% block body %} 
    <div class="page-title">
        <h1>Snake</h1>
    </div>

    <hr class="horizontal-divider">

    <div class="game-container">
        <canvas class="snake-game-board" id="snake-board"></canvas>
        <div class="game-info">
            <h1>Instructions: </h1>
            <p>
                This game uses a WASD control scheme.
                Control the snake to eat as much food as you can. Eating special foods will give extra points.
                Make sure to stay within the board, avoid any enemies and not eat yourself though! 
            </p>
            <hr class="hidden-divider">
            <h1>Settings: </h1>
            <div class="button-container">
                <hr class="hidden-divider">
                <button class="button" id="snake-speed-button" onclick="toggleSpeedSetting(); blur();"></button>
                <hr class="hidden-divider">
                <button class="button" id="snake-food-button" onclick="toggleFoodSetting(); blur();"></button>
                <hr class="hidden-divider">
                <button class="button" id="snake-enemy-button" onclick="toggleEnemySetting(); blur();"></button>
                <hr class="hidden-divider">
                <button class="button" id="snake-color-button" onclick="toggleColorTheme(); blur();"></button>
                <hr class="hidden-divider">
                <button class="button" id="snake-sound-button" onclick="toggleSoundSetting(); blur();"></button>
                <hr class="hidden-divider">
                <button class="button" id="snake-bgm-button" onclick="toggleBgmSetting(); blur();"></button>
            </div>
        </div>
    </div>
{% endblock %}

